@page "/cadastrar"

@if (PageIsBusy)
{
    <MudProgressCircular Size="Size.Large" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
}
else
{
    <div class="flex min-h-[100vh] w-full items-center justify-center">
        <video autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
            <source src="/images/Video%20Background%20in%20Pink%20Blue%20Green%20Gradient%20Style%20.mp4" type="video/mp4" />
        </video>
        <section class="flex flex-col min-h-[100vh] sm:min-h-[70vh] w-full sm:w-[25%] min-w-[400px] gap-4 justify-center p-4 sm:rounded-xl shadow-lg items-center text-center bg-white " style="z-index: 1;">
            <h1 class="font-serif text-4xl text-roxo pt-5 pb-5">Cadastrar</h1>
            <EditForm Model="Request" OnValidSubmit="Register" Style="width: 90%; align-self: center; justify-self: center; justify-items: center;">
                <DataAnnotationsValidator/>

                <MudTextField
                    T="string"
                    Label="Primeiro Nome"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Text"
                    For="@(() => Request.FirstName)"
                    @bind-Value="Request.FirstName"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Person"
                    AdornmentColor="Color.Primary"
                    Margin="Margin.Dense"/>

                <MudTextField
                    T="string"
                    Label="Ultimo Nome"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Text"
                    For="@(() => Request.LastName)"
                    @bind-Value="Request.LastName"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Person"
                    AdornmentColor="Color.Primary"
                    Margin="Margin.Dense"/>

                <MudTextField
                    T="string"
                    Label="E-mail"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Email"
                    For="@(() => Request.Email)"
                    @bind-Value="Request.Email"
                    Adornment="Adornment.End"
                    AdornmentIcon="@Icons.Material.Filled.Email"
                    AdornmentColor="Color.Primary"
                    Margin="Margin.Dense"/>

                <MudTextField
                    T="string"
                    Label="Senha"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Password"
                    For="@(() => Request.Password)"
                    @bind-Value="Request.Password"
                    Adornment="Adornment.End"
                    AdornmentColor="Color.Primary"
                    AdornmentIcon="@Icons.Material.Filled.Lock"
                    Margin="Margin.Dense"/>

                <MudTextField
                    T="string"
                    Label="Confirme a Senha"
                    FullWidth="true"
                    HelperText="Campo obrigatório"
                    Variant="Variant.Text"
                    InputType="InputType.Password"
                    For="@(() => Request.ConfirmPassword)"
                    @bind-Value="Request.ConfirmPassword"
                    Adornment="Adornment.End"
                    AdornmentColor="Color.Primary"
                    AdornmentIcon="@Icons.Material.Filled.Lock"
                    Margin="Margin.Dense"/>

                <div class="flex mt-10 mb-10">
                    @if (RegisterIsBusy)
                    {
                        <MudProgressCircular Color="Color.Info" Class="align-self-center" Indeterminate="true"/>
                    }
                    else
                    {
                        <MudButton
                            ButtonType="ButtonType.Submit"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            FullWidth="true"
                            StartIcon="@Icons.Material.Outlined.Login"
                            IconColor="Color.Secondary"
                            Size="Size.Large"
                            Style="width: 250px;"><span style="color: white;">Cadastrar</span></MudButton>
                    }
                </div>
            </EditForm>
            <div class="mb-10">
                <p class="nao-tem-conta">Já tem uma conta?</p>
                @if (Redirect && !string.IsNullOrEmpty(ProductId) && !string.IsNullOrEmpty(Quantity))
                {
                    <a href="@($"/entrar?redirect={Redirect.ToString()}&product={ProductId}&quantity={Quantity}")">Entrar</a>
                }
                else
                {
                    <a href="/entrar" class="login-cadastrar mb-20">Entrar</a>
                }
            </div>
        </section>
    </div>
}
