@page "/"

<MudPopoverProvider />

@if (PageIsBusy)
{
    <MudProgressCircular Size="Size.Large" Class="align-self-center" Color="Color.Info" Indeterminate="true" />
}
else
{
    <section class="flex flex-col min-h-screen bg-[url('/images/background-rainbow.svg')] bg-no-repeat bg-cover font-['Open_Sans',sans-serif] overflow-hidden">
        <div class="flex flex-row w-[90%] self-center h-fit justify-between pt-5 sm:w-[70%] lg:w-[70%]">
            <h1 class="font-serif font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-white">UniTV <span class="text-lg sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-light text-white ">canais</span></h1>
            <img @onclick="OpenDrawer" src="/images/cardapio.png" alt="menu" class="w-11 h-10 lg:hidden"/>
            
            <div class="hidden lg:flex flex-row items-center m-0 gap-10">
                <div>
                    @if (UserLoggedIn == false)
                    {
                        <section class="flex flex-col">
                            <p class="text-white"><a href="/entrar" class="font-sans font-medium text-base text-white hover:text-roxo">Entrar</a> /</p>
                            <a href="/cadastrar" class="font-sans font-medium text-base text-white hover:text-roxo">Cadastrar</a>
                        </section>
                    }
                    else
                    {
                        <MudMenu Style="display: flex; align-self: end; align-items: end;" ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopCenter">
                            <ActivatorContent>
                                <div class="flex flex-col items-center" style="cursor: pointer;">
                                    <section class="flex fle-row gap-2 justify-center items-center">
                                        <MudAvatar Color="Color.Primary" Size="Size.Small" Style="color: white;">
                                            @Username[0].ToString().ToUpper()
                                        </MudAvatar>
                                        <p class="text-white font-sans font-normal text-base">@Username.Split(' ')[0]</p>
                                    </section>
                                    <div class="absolute bottom-[-25px] left-1/2 transform -translate-x-1/2">
                                        <img src="/images/seta-baixo.png" alt="foto de uma seta" />
                                    </div>
                                </div>
                                
                            </ActivatorContent>
                            <ChildContent>
                                <MudMenuItem Href="/perfil" Style="width: 300px;" Label="Meu Perfil" />
                                <MudMenuItem Href="/carrinho" Style="width: 300px;" Label="Carrinho" />
                                <MudMenuItem Href="/pedidos" Style="width: 300px;" Label="Pedidos" />
                                <MudMenuItem Href="/logout" Style="width: 300px;" Label="Sair" />
                            </ChildContent>
                        </MudMenu>

                    }
                </div>
                <button @onclick="ScrollToSegundaSection" Underline="Underline.Always" Color="Color.Primary" Href="/">
                    <p class="font-sans font-medium text-base text-white m-0">Detalhes</p></button>
                <button @onclick="ScrollToQuartaSection" Underline="Underline.Always" Color="Color.Primary" Href="/">
                    <p class="font-sans font-medium text-base text-white m-0">Preço</p></button>
                <MudButton OnClick="ScrollToQuartaSection" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" StartIcon="@Icons.Material.Outlined.ShoppingCart" IconColor="Color.Secondary" Size="Size.Medium"><span class="text-white">Comprar</span></MudButton>
            </div>
        </div>  
        <div class="flex flex-col h-[80vh] mt-6 justify-center lg:flex-row lg:justify-between sm:w-[70%] lg:w-[70%] items-center w-[90%] gap-[30px] self-center">
            <div class="flex flex-col gap-9 w-full mt-15 lg:w-[50%] lg:min-w-[400px]">
                <h1 class="font-serif text-white font-extrabold text-4xl sm:text-6xl lg:text-7xl">
                    Cansado de pagar caro em streaming?
                </h1>
                <p class="text-white font-sans text-xs font-light sm:text-base">
                    Todos os canais + filmes + séries em um só lugar por um preço incrível e com um único pagamento!
                </p>
                <img class="cssanimation hu__hu__ sequence self-center lg:hidden" src="/images/streaming-on-line.png" style="width: 90%; max-width: 400px;" alt="foto do aparelho ROKU EXPRESS">
                <MudButton OnClick="ScrollToQuartaSection" Style="width: 50%; min-width: 300px;" class="self-center mb-10 mt-4 lg:self-start" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Size="Size.Large"
                ><span class="text-white">Comprar</span></MudButton>
            </div>
            <div class="hidden lg:flex items-center flex-col w-2/4 min-w-[400px]">
                <img class="cssanimation hu__hu__ sequence w-[70%]" src="/images/streaming-on-line.png" alt="foto do aparelho ROKU EXPRESS">
            </div>
        </div>
    </section>
    <section @ref="PrimeiraSection" class="flex flex-col min-h-[60vh] w-[100%] items-center mt-10 mb-10 font-sans" data-aos="fade-up" data-aos-duration="1000">
        <div class="flex flex-row justify-center items-center w-[85%] gap-[40px] md:w-[70%]">
            <img class="hidden sm:flex lg:flex" src="/images/Man1.svg" alt="iptv service imagem" style="width: 30%;"/>
            <div class="flex flex-col w-full sm:w-[85%] lg:w-[70%] sm:min-w-[350px] gap-[15px]">
                <h1 class="font-serif text-[#262626] text-[1.5rem] font-extrabold mb-[10px] lg:text-[2.5rem]">
                    Transforme sua experiência de entretenimento com o nosso IPTV!
                </h1>
                <p class="font-sans text-[0.9rem] font-normal lg:text-base">
                    Diga adeus às assinaturas caras e complicadas! Com nosso IPTV vitalício, você paga apenas uma vez e tem acesso completo a filmes, séries, documentários e muito mais, reunindo conteúdos das principais plataformas de streaming em um só lugar.                
                </p>
                <p class="font-sans text-[0.9rem] font-normal lg:text-base">
                    Aproveite todos os canais de TV ao vivo, incluindo exclusivos como UFC, Premiere e muito mais, para não perder nenhum lance do seu esporte favorito.
                </p>
                <ul class="list-none mt-4">
                    <li class="flex items-start mb-5">
                        <img class="mr-3" src="/images/seta-para-baixo-direita.png" alt="foto seta"/>
                        <p class="text-[0.8rem] lg:text-base font-sans font-semibold">Acesso completo a filmes, séries, documentários e muito mais, com conteúdos de todas as principais plataformas de streaming, tudo em um único lugar!</p>
                    </li>
                    <li class="flex items-start  mb-5">
                        <img class="mr-3" src="/images/seta-para-baixo-direita.png" alt="foto seta"/>
                        <p class="text-[0.8rem] lg:text-base font-sans font-semibold">Todos os canais de TV ao vivo, incluindo canais exclusivos como UFC, Premiere e muito mais, para você acompanhar ao vivo seus programas e esportes favoritos.</p>
                    </li>
                    <li class="flex items-center  mb-5">
                        <img class="mr-3" src="/images/seta-para-baixo-direita.png" alt="seta"/>
                        <p class="text-[0.8rem] lg:text-base font-sans font-semibold">Conteúdo de qualidade em alta definição, com atualização constante e uma experiência sem interrupções.</p>
                    </li>
                </ul>
                <MudButton OnClick="ScrollToQuartaSection" class="self-center lg:self-start mt-5" Style="width: 50%; min-width: 300px;" Variant="Variant.Filled" Color="Color.Primary" FullWidth="false" Size="Size.Large"
                ><span class="text-white">Comprar</span></MudButton>
            </div>
        </div>
    </section>
    <section @ref="SegundaSection" class="flex flex-col min-h-[50vh] bg-[#131126] w-full items-center justify-start overflow-hidden" data-aos="fade-up" data-aos-duration="1000">
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] sm:flex-row md:w-[80%]">
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Como Nosso Produto Funciona?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    A TVBOX UniTV é a solução definitiva para quem busca entretenimento ilimitado sem precisar pagar mensalidades. Com um único investimento, você tem acesso vitalício a todos os canais, incluindo filmes, séries e até canais de esporte, como o Premiere.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Basta conectar a TVBOX UniTV à sua televisão e à internet para aproveitar uma experiência completa de TV digital. Assista aos seus conteúdos favoritos com alta qualidade e sem interrupções, garantindo diversão para toda a família.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Simples, prático e sem custos recorrentes. Com a UniTV, você tem tudo o que precisa em um só lugar!
                </p>
            </div>
            <img src="/images/network-image.png" class="w-[80%] sm:w-[25%]" alt="imagem UniTV BOX" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] sm:flex-row md:w-[80%]">
            <img class="hidden md:flex sm:w-[25%]" src="/images/configuracao.png" alt="imagem UniTV BOX" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Preciso Configurar?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Não se preocupe com configurações! A TVBOX UniTV já chega totalmente configurada para você. Basta conectar à sua televisão e à internet para começar a aproveitar acesso vitalício a todos os canais, incluindo filmes, séries, esportes e muito mais.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Esqueça instalações complicadas ou ajustes manuais. Com a UniTV, a experiência é simples e imediata: ligou, conectou, assistiu!
                </p>
            </div>
            <img class="flex sm:hidden" src="/images/configuracao.png" alt="imagem UniTV BOX" style="width: 60%" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] sm:flex-row md:w-[80%]">
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Preciso Pagar Mensalidade?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    <span style="font-weight: 700; font-size: 1.5rem;">Não!</span> Com a TVBOX UniTV, você faz um único pagamento pelo produto e aproveita acesso vitalício a todos os canais, filmes, séries e esportes, sem mensalidades ou taxas escondidas.
                </p>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Diferente de outros serviços de TV por assinatura, a UniTV garante entretenimento ilimitado sem cobranças recorrentes. Pague uma vez e assista para sempre!
                </p>
            </div>
            <img src="/images/cartao-de-credito.png" alt="imagem UniTV BOX" class="w-[80%] sm:w-[25%]" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
        <div class="flex flex-col w-[90%] items-center justify-center gap-7 mt-[60px] mb-[80px] sm:flex-row md:w-[80%]">
            <img class="hidden md:flex sm:w-[25%]" src="/images/garantido.png" alt="imagem UniTV BOX" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
            <div class="flex flex-col gap-[15px] w-full sm:w-[70%]" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                <div class="font-serif text-[#FFD700] text-[1.6rem] font-extrabold mb-[20px] lg:text-[2.5rem]">
                    Os Nossos Produtos Possuem Garantia?
                </div>
                <p class="text-[0.9rem] text-white lg:text-base font-sans font-semibold">
                    Estamos tão confiantes de que nossos TVs Box com IPTV proporcionarão uma experiência incrível que oferecemos a você uma garantia exclusiva de 3 meses. Estamos comprometidos em oferecer a você um produto de alta qualidade, com acesso a todos os canais e conteúdos de forma fácil e prática, e queremos que você se sinta seguro ao dar esse passo para transformar sua experiência de entretenimento.
                </p>
                <p class="text-[1rem] text-white lg:text-base font-sans font-bold">
                    100% DE SATISFAÇÃO ou seu dinheiro de volta!
                </p>
            </div>
            <img class="flex sm:hidden" src="/images/garantido.png" alt="imagem UniTV BOX" style="width: 60%" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="200"/>
        </div>
    </section>
    <section @ref="TerceiraSection" class="flex flex-col w-[100%] justify-center items-center" >
        <div class="flex flex-col w-[85%] items-center self-center justify-self-center lg:flex-row lg:justify-between lg:w-[80%] mb-[80px] mt-[80px]">
            <div class="flex flex-col w-full lg:w-[45%]">
                <img src="/images/avaliacao-icon.png" alt="avaliacao icone" style="width: 90px;" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"/>
                <h1 class="font-serif text-2xl sm:text-3xl lg:text-5xl font-extrabold text-[#262626]" data-aos="fade-up" data-aos-duration="1000">O que dizem os clientes que já compraram conosco</h1>
            </div>
            <div class="w-full lg:w-[50%]">
                <MudCarousel Class="h-[400px] max-h-[600px] w-full overflow-hidden" ShowArrows="true" EnableSwipeGesture="true" TData="object" ShowBullets="false" AutoCycle="false" data-aos="fade-up" data-aos-duration="1000">
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="max-height: 100%; max-width: 80%; align-self: center;" src="/images/avaliacao2.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="max-height: 100%; max-width: 80%; align-self: center;" src="/images/avaliacao3.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="max-height: 100%; max-width: 80%; align-self: center;" src="/images/avaliacao1.svg" alt="sla"/>
                    </MudCarouselItem>
                    <MudCarouselItem Style="height: 100%; width: 100%; display: flex; justify-self: center; justify-content: center;">
                        <img style="max-height: 100%; max-width: 80%; align-self: center;" src="/images/avaliacao4.svg" alt="sla"/>
                    </MudCarouselItem>
                </MudCarousel>
            </div>
        </div>
    </section>
    <section @ref="QuartaSection" class="flex flex-col w-full items-center min-h-[100vh] bg-background pb-[80px]" data-aos="fade-up"
             data-aos-duration="1000" data-aos-delay="100">
        <h1 class="font-serif text-white font-extrabold text-4xl lg:text-5xl mt-12 mb-[70px] sm:mb-[100px]" data-aos="fade-up"
            data-aos-duration="1000" data-aos-delay="200">Nossos Produtos</h1>
        <div class="flex flex-col w-full items-center gap-8 lg:flex-row sm:justify-center">
            <div
                class="flex flex-column gap-8 items-center rounded-lg w-[90%] sm:w-[60%] lg:w-[25%] h-[770px] bg-[url('/images/background-produto.svg')] bg-no-repeat bg-cover shadow-xl"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="/images/iptv-unitv.svg" alt="foto tvbox" class="w-[70%] max-h-[180px] mt-[40px]"/>
                <div class="flex flex-col w-full items-center">
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        UniTV V10
                    </h1>
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        <img src="/images/mais.png" alt="mais icone"/>
                    </h1>
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        IPTV Vitalício
                    </h1>
                    <h1 class="font-sans text-1xl text-[#7838A4] font-extrabold">
                        (Sem Mensalidade)
                    </h1>
                </div>
                <div class="flex flex-col w-[90%]">
                    <p class="font-sans text-sm text-center">Tenha acesso ilimitado aos seus canais favoritos com a
                        UniTV V10! Assista a canais, séries, filmes e esportes ao vivo sem mensalidade. Qualidade e
                        estabilidade garantidas para sua diversão! </p>
                </div>
                <div class="flex flex-col w-[90%] items-center">
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-3xl">
                        R$ 449,99
                    </h1>
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-1xl">
                        ou
                    </h1>
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-1xl">
                        6x R$ 74,99
                    </h1>
                </div>
                <div class="flex flex-row w-[80%] justify-between items-center">
                    <div class="w-[30%]">
                        <MudNumericField @bind-Value="Quantity" Label="Quantidade" Variant="Variant.Text" Min="1"
                                         Max="10"/>
                    </div>
                    <div class="w-[60%]">
                        <MudButton FullWidth="true" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary">
                            <span class="text-white">Comprar</span></MudButton>
                    </div>
                </div>
            </div>
            <div class="flex flex-column items-center rounded-lg w-[90%] sm:w-[60%] lg:w-[25%] h-[770px] gap-8 bg-[url('/images/background-produto.svg')] bg-no-repeat bg-cover shadow-xl"
                 data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="/images/firestick.png" alt="foto tvbox" class="max-w-[70%] max-h-[180px] mt-[40px]"/>
                <div class="flex flex-col w-full items-center">
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        Amazon Fire TV
                    </h1>
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        <img src="/images/mais.png" alt="mais icone"/>
                    </h1>
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        IPTV Instalado
                    </h1>
                    <h1 class="font-sans text-1xl text-[#7838A4] font-extrabold">
                        (Mensalidade IPTV R$25,00)
                    </h1>
                </div>
                <div class="flex flex-col w-[90%]">
                    <p class="font-sans text-sm text-center">Transforme sua TV com o Amazon Fire TV e aproveite a melhor experiência IPTV! Acesse canais, séries, filmes e esportes ao vivo com estabilidade e qualidade garantidas por apenas R$25,00 mensais.</p>
                </div>
                <div class="flex flex-col w-[90%] items-center">
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-3xl">
                        R$ 349,99
                    </h1>
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-1xl">
                        ou
                    </h1>
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-1xl">
                        6x R$ 66,33
                    </h1>
                </div>
                <div class="flex flex-row w-[80%] justify-between items-center">
                    <div class="w-[30%]">
                        <MudNumericField @bind-Value="Quantity" Label="Quantidade" Variant="Variant.Text" Min="1"
                                         Max="10"/>
                    </div>
                    <div class="w-[60%]">
                        <MudButton FullWidth="true" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary">
                            <span class="text-white">Comprar</span></MudButton>
                    </div>
                </div>
            </div>
            <div
                class="flex flex-column items-center rounded-lg w-[90%] sm:w-[60%] lg:w-[25%] h-[770px] gap-8 bg-[url('/images/background-produto.svg')] bg-no-repeat bg-cover shadow-xl"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <img src="/images/androidtv.png" alt="foto tvbox" class="max-w-[70%] max-h-[180px] mt-[40px]"/>
                <div class="flex flex-col w-full items-center">
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        AndroidTV
                    </h1>
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        <img src="/images/mais.png" alt="mais icone"/>
                    </h1>
                    <h1 class="font-sans text-3xl text-titlecolor font-extrabold">
                        IPTV Instalado
                    </h1>
                    <h1 class="font-sans text-1xl text-[#7838A4] font-extrabold">
                        (Mensalidade IPTV R$25,00)
                    </h1>
                </div>
                <div class="flex flex-col w-[90%]">
                    <p class="font-sans text-sm text-center">Transforme sua TV com o AndroidTV e tenha acesso a uma experiência IPTV completa! Assista a canais, séries, filmes e esportes ao vivo com qualidade e estabilidade garantidas por apenas R$25,00 mensais.</p>
                </div>
                <div class="flex flex-col w-[90%] items-center">
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-3xl">
                        R$ 279,99
                    </h1>
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-1xl">
                        ou
                    </h1>
                    <h1 class="font-sans font-extrabold text-[#0067AE] text-1xl">
                        6x R$ 50,00
                    </h1>
                </div>
                <div class="flex flex-row w-[80%] justify-between items-center">
                    <div class="w-[30%]">
                        <MudNumericField @bind-Value="Quantity" Label="Quantidade" Variant="Variant.Text" Min="1"
                                         Max="10"/>
                    </div>
                    <div class="w-[60%]">
                        <MudButton FullWidth="true" Variant="Variant.Filled" Size="Size.Large" Color="Color.Primary">
                            <span class="text-white">Comprar</span></MudButton>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section @ref="QuintaSection" class="flex flex-col w-full items-center gap-8">
        <h1 class="font-serif max-w-[90%] text-titlecolor font-extrabold text-3xl lg:text-4xl mt-[100px] mb-4">
            Perguntas Frequentes
        </h1>
        <div class="flex flex-col w-[90%] sm:w-[80%] lg:w-[50%]  items-center">
            @if (_pergunta1)
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowDownward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta1"><span class="text-white">Como nosso produto funciona?</span></MudButton>
            }
            else
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowForward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta1"><span class="text-white">Como nosso produto funciona?</span></MudButton>
            }
            <MudCollapse Style="overflow-wrap: break-word" Expanded="_pergunta1">
                <p style="border: 0.5px solid #7C45AD" class="p-4 flex-wrap text-wrap rounded-lg font-sans ">
                    Atualmente, oferecemos três modelos de TV Box, todas enviadas com IPTV instalado. No entanto, apenas a UniTV V10 não possui mensalidade. Os demais modelos requerem uma assinatura de R$25,00 por mês para acessar o IPTV.<br/><br/>
                    Nosso IPTV inclui todos os canais brasileiros (abertos e fechados), além de conteúdos esportivos como Premiere e UFC Fight Pass. Também disponibilizamos um extenso catálogo de séries e filmes, incluindo os lançamentos do cinema.
                </p>
            </MudCollapse>
        </div>
        <div class="flex flex-col w-[90%] sm:w-[80%] lg:w-[50%] items-center">
            @if (_pergunta2)
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowDownward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta2"><span class="text-white">Tem garantia?</span></MudButton>
            }
            else
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowForward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta2"><span class="text-white">Tem garantia?</span></MudButton>
            }
            <MudCollapse Style="overflow-wrap: break-word" Expanded="_pergunta2">
                <p style="border: 0.5px solid #7C45AD" class="p-4 flex-wrap text-wrap rounded-lg font-sans">
                    Sim, todas as nossas TV Box possuem garantia! Você tem 7 dias para arrependimento, caso não fique satisfeito com o produto, e 3 meses de garantia para defeitos de fabricação. Nosso suporte está sempre disponível para te ajudar caso precise de assistência.
                </p>
            </MudCollapse>
        </div>
        <div class="flex flex-col w-[90%] sm:w-[80%] lg:w-[50%] items-center">
            @if (_pergunta3)
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowDownward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta3"><span class="text-white">O Produto tem mensalidade?</span></MudButton>
            }
            else
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowForward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta3"><span class="text-white">O Produto tem mensalidade?</span></MudButton>
            }
            <MudCollapse Style="overflow-wrap: break-word" Expanded="_pergunta3">
                <p style="border: 0.5px solid #7C45AD" class="p-4 flex-wrap text-wrap rounded-lg font-sans">
                    Temos diferentes opções de TV Box com IPTV. Todas já vêm com o IPTV instalado, mas há diferenças quanto à mensalidade: <br/> <br/>
                    📌 UniTV V10 – Esta é a única opção sem mensalidade, oferecendo acesso vitalício ao IPTV sem custos adicionais. <br/> <br/>
                    📌 Outras TV Boxes – Elas também acompanham o IPTV instalado, porém, requerem uma mensalidade de R$25,00 para continuar o uso do serviço após o primeiro mês. <br/> <br/>
                    Nosso IPTV inclui todos os canais brasileiros (abertos e fechados), além de canais esportivos como Premiere e UFC Fight Pass. Além disso, você tem acesso a um catálogo completo de filmes e séries, incluindo lançamentos de cinema.<br/><br/>
                    Caso tenha dúvidas sobre qual opção escolher, estamos à disposição para ajudar!
                </p>
            </MudCollapse>
        </div>
        <div class="flex flex-col w-[90%] sm:w-[80%] lg:w-[50%] items-center">
            @if (_pergunta4)
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowDownward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta4"><span class="text-white">Como ele é enviado?</span></MudButton>
            }
            else
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowForward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta4"><span class="text-white">Como ele é enviado?</span></MudButton>
            }
            <MudCollapse Style="overflow-wrap: break-word" Expanded="_pergunta4">
                <p style="border: 0.5px solid #7C45AD" class="p-4 flex-wrap text-wrap rounded-lg font-sans">
                    Seu TV Box é enviado com todo o cuidado pelos Correios, garantindo segurança e rastreamento durante o transporte. O prazo de entrega pode variar de acordo com a sua localização, e o valor do frete é calculado no fechamento da compra.<br/> <br/>
                    Assim que o pedido for postado, você receberá um código de rastreamento para acompanhar a entrega em tempo real. Caso tenha dúvidas, nossa equipe está à disposição para ajudar!
                </p>
            </MudCollapse>
        </div>
        <div class="flex flex-col w-[90%] sm:w-[80%] lg:w-[50%] items-center mb-[100px]">
            @if (_pergunta5)
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowDownward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta5"><span class="text-white">Tem suporte ao cliente?</span></MudButton>
            }
            else
            {
                <MudButton Class="rounded-xl" FullWidth="true" EndIcon="@Icons.Material.Filled.ArrowForward" IconColor="Color.Secondary" Color="Color.Primary" Size="Size.Large" Variant="Variant.Filled" OnClick="AbrirPergunta5"><span class="text-white">Tem suporte ao cliente?</span></MudButton>
            }
            <MudCollapse Style="overflow-wrap: break-word" Expanded="_pergunta5">
                <p style="border: 0.5px solid #7C45AD" class="p-4 flex-wrap text-wrap rounded-lg font-sans">
                    Sim! Oferecemos suporte ao cliente para garantir a melhor experiência com seu produto. Após a compra, você poderá entrar em contato conosco via e-mail e WhatsApp para qualquer dúvida ou necessidade de assistência.<br/> <br/>
                    Além disso, estamos sempre disponíveis para responder a perguntas sobre o funcionamento, instalação e uso do produto. Nossa equipe está pronta para ajudar você!
                </p>
            </MudCollapse>
        </div>
    </section>
    <section class="flex flex-col sm:flex-row w-[100%] items-center sm:justify-center bg-background">
        <div class="flex flex-col sm:flex-row sm:justify-evenly w-full sm:w-[80%] items-center p-[30px]">
            <h1 class="font-serif font-bold text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-roxo mt-4">UniTV <span class="text-lg sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-semibold text-roxo ">canais</span></h1>
            <div class="flex flex-col w-[100%] items-center mt-4 sm:hidden">
                <div style="border-bottom: 0.5px solid #7C45AD; border-top: 0.5px solid #7C45AD;" class="flex flex-col w-full items-center">
                    <button @onclick="ScrollToSegundaSection" Underline="Underline.Always" Color="Color.Primary" Href="/">
                        <p class="font-sans font-medium text-base text-white m-0 p-3">DETALHES</p></button>
                </div>
                <div style="border-bottom: 0.5px solid #7C45AD" class="flex flex-col w-full items-center">
                    <button @onclick="ScrollToQuartaSection" Underline="Underline.Always" Color="Color.Primary" Href="/">
                        <p class="font-sans font-medium text-base text-white m-0 p-3">PREÇOS</p></button>
                </div>
                <div style="border-bottom: 0.5px solid #7C45AD" class="flex flex-col w-full items-center">
                    <button EndIcon="@Icons.Material.Filled.ArrowDownward" @onclick="AbrirContato" Underline="Underline.Always" Color="Color.Primary">
                        <p class="font-sans font-medium text-base text-white m-0 p-3">CONTATO</p></button>
                    <MudCollapse Style="overflow-wrap: break-word" Expanded="_contato">
                        <p class="p-2 flex-wrap text-wrap rounded-lg font-sans text-white">
                            Email: Unitvcanais@gmail.com <br/>
                            Fone: (41) 99756-1468
                        </p>
                    </MudCollapse>
                </div>
            </div>
            <div class="hidden sm:flex sm:flex-col items-center mt-4">
                <div class="flex flex-col items-center">
                    <button @onclick="ScrollToSegundaSection" Underline="Underline.Always" Color="Color.Primary" Href="/">
                        <p class="font-sans font-medium text-base text-white m-0 p-3">DETALHES</p></button>
                </div>
                <div class="flex flex-col items-center">
                    <button @onclick="ScrollToQuartaSection" Underline="Underline.Always" Color="Color.Primary" Href="/">
                        <p class="font-sans font-medium text-base text-white m-0 p-3">PREÇOS</p></button>
                </div>
                <div class="flex flex-col items-center">
                    <button EndIcon="@Icons.Material.Filled.ArrowDownward" @onclick="AbrirContato" Underline="Underline.Always" Color="Color.Primary">
                        <p class="font-sans font-medium text-base text-white m-0 p-3">CONTATO</p></button>
                    <MudCollapse Style="overflow-wrap: break-word" Expanded="_contato">
                        <p class="p-2 flex-wrap text-wrap rounded-lg font-sans text-white">
                            Email: Unitvcanais@gmail.com <br/>
                            Fone: (41) 99756-1468
                        </p>
                    </MudCollapse>
                </div>
            </div>
            <div class="flex flex-col items-center text-center">
                <p class="font-sans font-medium text-base text-white m-0 p-8">2025 - Direitos reservados</p>
                <img src="/images/seguranca.png" class="w-[70px] sm:w-[100px]"/>
            </div>
        </div>
    </section>
    
    <MudDrawer Style="overflow:hidden; position:fixed;" @bind-Open="@_open" Width="70vw" Height="100vh" Anchor="@_anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudDrawerHeader Class="flex flex-col gap-5 mb-5 bg-roxo">
            <h1 class="font-serif font-bold text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-titlecolor mb-3">UniTV <span class="text-lg sm:text-lg md:text-xl lg:text-2xl xl:text-3xl font-light ">canais</span></h1>
            <div class="flex">
                @if (UserLoggedIn == false)
                {
                    <section class="flex flex-col">
                        <p class="text-white"><a href="/entrar" class="font-sans font-medium text-base text-white hover:text-roxo">Entrar</a> /</p>
                        <a href="/cadastrar" class="font-sans font-medium text-base text-white hover:text-roxo">Cadastrar</a>
                    </section>
                }
                else
                {
                    <section class="flex flex-col gap-2 justify-center">
                        <MudAvatar Color="Color.Secondary" Size="Size.Large" Style="color: #7C45AD;">
                            @Username[0].ToString().ToUpper()
                        </MudAvatar>
                        <p class="text-white font-sans font-normal text-base">@UserInfo.Email</p>
                    </section>
                }
            </div>
        </MudDrawerHeader>
        <MudNavMenu>
            @if (UserLoggedIn)
            {
                <div class="flex flex-col gap-3 pl-4 pb-2 pt-2">
                    <div class="flex flw-row gap-3 ml-[12px]">
                        <img src="/images/perfil.png" alt="imagem de perfil"/>
                        <a href="/perfil" class="text-base font-sans">Perfil</a>
                    </div>
                </div>
                <div class="flex flex-col gap-3 pl-4 pb-2 pt-2">
                    <div class="flex flw-row gap-3 ml-[12px]">
                        <img src="/images/pedidos.png" alt="pedidos"/>
                        <a href="/pedidos" class="text-base font-sans">Pedidos</a>
                    </div>
                </div>
                <div class="flex flex-col gap-3 pl-4 pb-2 pt-2 mb-5">
                    <div class="flex flw-row gap-3 ml-[12px]">
                        <img src="/images/sair.png" alt="sair"/>
                        <a href="/sair" class="text-base font-sans">Sair</a>
                    </div>
                </div>
                <hr class="border-t-1 border-gray my-4">
            }

            <MudNavLink @onclick="ScrollToSegundaSection" Match="NavLinkMatch.All"><p class="text-base font-bold font-sans">Detalhes</p></MudNavLink>
            <MudNavLink @onclick="ScrollToQuartaSection" Match="NavLinkMatch.All"><p class="text-base font-bold font-sans">Preços</p></MudNavLink>
            <MudNavLink @onclick="ScrollToQuartaSection" Match="NavLinkMatch.All"><p class="text-base font-bold font-sans">Comprar</p></MudNavLink>
        </MudNavMenu>
    </MudDrawer>
}